name: Simulation

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: lfenergy/arras:latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Cache IEEE 37 model
      id: ieee-8500-model
      uses: actions/cache@v3
      with:
        path: 8500.glm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('8500.glm') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Run simulation
      run: gridlabd main.glm
      
    - name: Save results
      uses: actions/upload-artifact@v4
      with:
        name: IEEE 8500 voltage profile
        path: IEEE-8500-voltage-profile.png
