name: Simulation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: lfenergy/arras:develop
   
    steps:
    - uses: actions/checkout@v3

    - name: Run simulation
      run: gridlabd main.glm
    - name: Upload voltage profile PNG
      uses: actions/upload-artifact@v4
      with:
        name: voltage-profile
        path: IEEE-37-voltage-profile.png
    - name: List all files
      run: ls -R
